{% extends '_base.html' %}
{% load humanize %}

{% load reviews %}
{% block title %}Post {{post.title}}{% endblock %}

{% block content %}

<div class="container-fluid text-start">
    
    <div class="row">
        <div class="col-8 mt-5">
            <div class="sticky-top">
                <div class="container">
                    <div class="row">

                        <div class="col-auto text-start">
                            <h4 class="">{{post.title}}</h4>
                        </div>

                        {% if post.user.id == request.user.id %}
                        <div class="col-auto text-end">
                            <a class="text-danger" href="{% url 'world:delete_post' post_id=post.id %}">
                                <span class="material-icons-outlined">delete</span>
                            </a>
                        </div>
                        {% endif %}
                        
                    </div>
                </div>
                <img src="{{post.image.url}}" class="img-responsive shadow" style="width: 100%; float: center; margin: 5px;"
                    alt="{{post.description}}">
                    
                <div class="container">    
                    <div class="row">
                        

                        <div class="col-md-9 text-start">
                            <p>{{post.description}}</p>
                        </div>
                        <div class="col-md-3 text-end d-flex">
                            <span>
                                <form action="{% url 'world:like_post' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="post_like"  value="{{ post.id }}">
                                    {% if request.user not in post.liked.all %}
                                        <button class="btn text-start"  type="submit">   
                                            <span class="material-icons-outlined">favorite_border</span>
                                        </button>
                                    {% else %}
                                        <button class="btn text-start text-danger" type="submit">
                                            <span class="material-icons-outlined">favorite</span>
                                        </button>
                                    {% endif %}
                                </form>
                            </span>
                            <a class="text-black" href="{% url 'world:add_review' post_id=post.id %}">
                                <span class="material-icons-outlined">mode_comment</span>
                            </a>
                            <a class="text-black" href="#">
                                <span class="material-icons-outlined text-danger">share</span>
                            </a>
                            <a class="text-black" href="#">
                                <span class="material-icons-outlined text-danger">bookmarks</span>
                            </a>
                        </div>
                        
                    </div>
                 </div>        
            </div>
        </div>
        <div class="col-4 mt-3">
                {% reviews_template %}
        </div>
    </div>

</div>


{% endblock %}