 <!-- Button trigger modal -->
 <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <a class="text-black" href="#">
        <span class="material-symbols-outlined">more_horiz</span> 
    </a>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Friend status</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="card border-0">
            <div class="card-body">
              <h5 class="card-title">Received Requestes</h5>
              {% for friend_request in friend_requests %}
              {% if friend_request.from_user != request.user and friend_request.to_user == request.user and friend_request.status_on_from_user == 'request_sent' %}
              <div class="row mt-1">
                <div class="col-8 text-start">
                  <a class="card-text text-decoration-none text-black" href="{% url 'users:get_user_profile' user_id=friend_request.from_user.id %}">{{friend_request.from_user.username}}</a>
                </div>
                <div class="col-4">
                  <a href="{% url 'users:accept_friend_request' other_user_id=friend_request.from_user.id %}" class="btn btn-primary">accept</a>
                </div>
              </div>
              {% endif %}
              {% endfor %}
   
              <hr>
              <h5 class="card-title">Recommand for you</h5> 

              <div>
                <form class="d-flex" role="search" action="{% url 'users:user_search' %}" method="POST">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="username">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>

              {% for friend_request in friend_requests %}
              {% if friend_request.to_user != request.user and friend_request.from_user == request.user%}
              <div class="row mt-1">
                <div class="col-8 text-start">
                  <a class="card-text text-decoration-none text-black" href="{% url 'users:get_user_profile' user_id=friend_request.to_user.id %}">{{friend_request.to_user.username}}</a>
                </div>
                <div class="col-4">
                  {% if friend_request.status_on_from_user != 'follow' %}
                  <p>
                      <a class="text-decoration-none text-black" href="{% url 'users:send_friend_request' other_user_id=friend_request.to_user.id %}">{{friend_request.status_on_from_user}}</a>
                  </p> 
                  {% else %}
                  <p>
                    <a class="btn btn-primary" href="{% url 'users:send_friend_request' other_user_id=friend_request.to_user.id %}" class="btn btn-primary">{{friend_request.status_on_from_user}}</a>
                  </p> 
                  {% endif %}
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>