{% extends '_base.html' %}

{% block title %}InstagramCopy Front{% endblock %}

{% block content %}

{% if friends_posts.count > 0 %}

<img class="image-content  lazy-load" alt="Animation that shows how a dynamic ads appears in the LinkedIn newsfeed" srcset="https://content.linkedin.com/content/dam/me/business/en-us/marketing-solutions/products/images/banners/LP-490x360-v03.02.gif.original.gif">
{% for post in friends_posts %}
<div class="card mt-1 border-0">
    <div class="card-body">
        <div class="container text-start">
            <div class="row">
                <div class="col-2">
                    <a class="text-decoration-none text-black" href="{% url 'users:get_user_profile' user_id=post.user.id %}">{{post.user.username}}</a>
                </div>
                <div class="col-10 text-body-secondary">
                    {{post.get_post_date}}
                </div>
            </div>
        </div>
            <img src="{{post.image.url}}" class="card-img-bottom img-responsive shadow"
                style="width: 40%; float: left; margin: 5px;" alt="{{post.description}}">
    
        <div class="container">
            <div class="row text-start">
                <div class="col-4 d-flex text-start">
                    <form action="{% url 'world:like_post' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="post_like"  value="{{ post.id }}">
                        {% if request.user not in post.liked.all %}
                            <button class="btn text-start"  type="submit">   
                                <span class="material-icons-outlined">favorite_border</span>
                            </button>
                        {% else %}
                            <button class="btn text-start text-danger" type="submit">
                                <span class="material-icons-outlined">favorite</span>
                              </button>
                        {% endif %}
                    </form>
                    <a class="text-start text-black" href="{% url 'world:add_review' post_id=post.id %}">
                        <span class="material-icons-outlined">mode_comment</span>
                    </a>
                    <a class="text-start text-black" href="#">
                        <span class="material-icons-outlined text-danger">share</span>
                    </a>
                </div>
                <div class="col-auto">
                    <a class="text-black"  href="#">
                        <span class="material-icons-outlined text-danger">bookmarks</span>
                    </a>
                </div>
            </div>
        </div> 
        <div class="container">
            <div class="row">
                <div class="col-4 d-flex">
                    <strong>{{post.liked.all.count}} likes</strong>
                </div>
            </div>    
        </div>   
    </div>
</div>
<hr>
{% endfor %}

{% else %}
<div class="row h-100">
    <div class="col-sm-10 my-auto">
        <h1 class="mt-5">Hello {{requet.user.username}}, Welcome to <em><b>Wasigram</b></em></a>, please  
            
            <p class="nav-item">
                {% include 'friend/_search_friend.html' %}
            </p>
            to see more friends' posts!
        </h1>
    </div>
</div>
{% endif %}

{% endblock %}